Requires `TX-input-data.csv` available on Box at `data/model inputs and outputs`

In [1]:
import pandas as pd
import numpy as np

In [2]:
usgs = pd.read_csv("TX-input-data.csv")

In [3]:
usgs.head()

   year  n_turbine  t_cap_mw        ylat      xlong  avg_concrete_per_mw
0  1999        123  0.723740 -100.376937  31.988169           825.004422
1  2000          0  0.723740 -100.376937  31.988169           825.004422
2  2001        851  1.051492 -100.376937  31.988169           624.068080
3  2002          5  0.660000 -100.376937  31.988169           624.068080
4  2003        186  1.077957 -100.376937  31.988169           545.485129

In [4]:
def blade_mass_tonnes_map(row):
    t_cap_mw=row['t_cap_mw']
    
    if t_cap_mw < 1.0:
        tonnes = t_cap_mw * 8.43
        
    elif t_cap_mw >= 1.0 and t_cap_mw < 1.5:
        tonnes = t_cap_mw * 12.37
        
    elif t_cap_mw >= 1.5 and t_cap_mw < 2.0:
        tonnes = t_cap_mw * 13.34
        
    elif t_cap_mw >= 2.0 and t_cap_mw < 5.0:
        tonnes = t_cap_mw * 13.41
        
    else:  # > 5.0 MW
        tonnes = t_cap_mw * 12.58
        
    return tonnes

In [5]:
blade_mass_tonnes = usgs.apply(blade_mass_tonnes_map, axis=1)
usgs["blade_mass_tonnes"] = blade_mass_tonnes

In [6]:
usgs.head()

,year,n_turbine,t_cap_mw,ylat,xlong,avg_concrete_per_mw,blade_mass_tonnes
0,1999,123,0.723740,-100.376937,31.988169,825.004422,6.101127
1,2000,0,0.723740,-100.376937,31.988169,825.004422,6.101127
2,2001,851,1.051492,-100.376937,31.988169,624.068080,13.006961
3,2002,5,0.660000,-100.376937,31.988169,624.068080,5.563800
4,2003,186,1.077957,-100.376937,31.988169,545.485129,13.334328

In [7]:
def foundation_mass_tonnes(row):
    # calculates the *cement only* mass going into new foundations
    # aggregate, water, steel rebar are not included here
    year=row['year']
    t_cap_mw=row['t_cap_mw']
    
    fraction_cement_in_concrete=0.125
    
    if year < 2020:
        # use historical data already in the data 
        tonnes_cement = fraction_cement_in_concrete * row['avg_concrete_per_mw'] * t_cap_mw
    else:
        # calculate from projection based on historical data
        tonnes_cement = fraction_cement_in_concrete * 611.29 * t_cap_mw**-0.735
    
    return tonnes_cement

In [8]:
foundation_cement_tonnes = usgs.apply(foundation_mass_tonnes, axis=1)
usgs['foundation_mass_tonnes'] = foundation_cement_tonnes

In [9]:
usgs.head()

,year,n_turbine,t_cap_mw,ylat,xlong,avg_concrete_per_mw,blade_mass_tonnes,foundation_mass_tonnes
0,1999,123,0.723740,-100.376937,31.988169,825.004422,6.101127,74.636071
1,2000,0,0.723740,-100.376937,31.988169,825.004422,6.101127,74.636071
2,2001,851,1.051492,-100.376937,31.988169,624.068080,13.006961,82.025352
3,2002,5,0.660000,-100.376937,31.988169,624.068080,5.563800,51.485617
4,2003,186,1.077957,-100.376937,31.988169,545.485129,13.334328,73.501188

In [10]:
# remove column that's no longer needed
usgs.drop(columns='avg_concrete_per_mw',inplace=True)

In [11]:
usgs.head()

,year,n_turbine,t_cap_mw,ylat,xlong,blade_mass_tonnes,foundation_mass_tonnes
0,1999,123,0.723740,-100.376937,31.988169,6.101127,74.636071
1,2000,0,0.723740,-100.376937,31.988169,6.101127,74.636071
2,2001,851,1.051492,-100.376937,31.988169,13.006961,82.025352
3,2002,5,0.660000,-100.376937,31.988169,5.563800,51.485617
4,2003,186,1.077957,-100.376937,31.988169,13.334328,73.501188

In [12]:
usgs.loc[:100, :]

,year,n_turbine,t_cap_mw,ylat,xlong,blade_mass_tonnes,foundation_mass_tonnes
0,1999,123,0.723740,-100.376937,31.988169,6.101127,74.636071
1,2000,0,0.723740,-100.376937,31.988169,6.101127,74.636071
2,2001,851,1.051492,-100.376937,31.988169,13.006961,82.025352
3,2002,5,0.660000,-100.376937,31.988169,5.563800,51.485617
4,2003,186,1.077957,-100.376937,31.988169,13.334328,73.501188
5,2004,0,1.077957,-100.376937,31.988169,13.334328,73.501188
6,2005,434,1.559171,-100.376937,31.988169,20.799335,75.119648
7,2006,397,1.865743,-100.376937,31.988169,24.889013,86.088484
8,2007,980,1.744694,-100.376937,31.988169,23.274216,89.811861
9,2008,1694,1.579870,-100.376937,31.988169,21.075468,85.388662
10,2009,1327,1.594431,-100.376937,31.988169,21.269710,81.656113
11,2010,353,1.930028,-100.376937,31.988169,25.746578,83.272912
12,2011,133,2.173643,-100.376937,31.988169,29.148558,89.445006
13,2012,919,1.987628,-100.376937,31.988169,26.514963,91.573229
14,2013,84,1.700000,-100.376937,31.988169,22.678000,78.362312
15,2014,964,1.874548,-100.376937,31.988169,25.006474,91.915655
16,2015,1797,2.019423,-100.376937,31.988169,27.080456,95.915872
17,2016,1211,2.159040,-100.376937,31.988169,28.952732,98.143221
18,2017,904,2.549906,-100.376937,31.988169,34.194239,101.796085
19,2018,918,2.553318,-100.376937,31.988169,34.239998,104.873921
20,2019,1652,2.627925,-100.376937,31.988169,35.240475,112.464663
21,2020,737,3.012000,-100.376937,31.988169,40.390920,33.978085
22,2021,269,3.186100,-100.376937,31.988169,42.725601,32.603306
23,2022,255,3.360200,-100.376937,31.988169,45.060282,31.352988
24,2023,2,3.534300,-100.376937,31.988169,47.394963,30.210248
25,2024,2,3.708400,-100.376937,31.988169,49.729644,29.161185
26,2025,0,3.882500,-100.376937,31.988169,52.064325,28.194239
27,2026,0,4.056600,-100.376937,31.988169,54.399006,27.299714
28,2027,52,4.230700,-100.376937,31.988169,56.733687,26.469413
29,2028,50,4.404800,-100.376937,31.988169,59.068368,25.696357
30,2029,585,4.578900,-100.376937,31.988169,61.403049,24.974560
31,2030,564,4.753000,-100.376937,31.988169,63.737730,24.298863
32,2031,81,4.927100,-100.376937,31.988169,66.072411,23.664789
33,2032,78,5.101200,-100.376937,31.988169,64.173096,23.068435
34,2033,504,5.275300,-100.376937,31.988169,66.363274,22.506380
35,2034,488,5.449400,-100.376937,31.988169,68.553452,21.975614
36,2035,162,5.623500,-100.376937,31.988169,70.743630,21.473477
37,2036,157,5.797600,-100.376937,31.988169,72.933808,20.997609
38,2037,191,5.971700,-100.376937,31.988169,75.123986,20.545906
39,2038,185,6.145800,-100.376937,31.988169,77.314164,20.116488
40,2039,190,6.319900,-100.376937,31.988169,79.504342,19.707671
41,2040,185,6.494000,-100.376937,31.988169,81.694520,19.317938
42,2041,110,6.668100,-100.376937,31.988169,83.884698,18.945923
43,2042,107,6.842200,-100.376937,31.988169,86.074876,18.590386
44,2043,0,7.016300,-100.376937,31.988169,88.265054,18.250208
45,2044,0,7.190400,-100.376937,31.988169,90.455232,17.924366
46,2045,1303,7.364500,-100.376937,31.988169,92.645410,17.611932
47,2046,1273,7.538600,-100.376937,31.988169,94.835588,17.312056
48,2047,0,7.712700,-100.376937,31.988169,97.025766,17.023959
49,2048,0,7.886800,-100.376937,31.988169,99.215944,16.746930
50,2049,0,8.060900,-100.376937,31.988169,101.406122,16.480311
51,2050,0,8.235000,-100.376937,31.988169,103.596300,16.223500

In [13]:
usgs.to_csv("TX_input_data_with_masses.csv", index=False)