Requires `uswtdb_v3_1_2020_0717.csv.csv` available on Box at `data/model inputs and outputs`

In [1]:
import pandas as pd
import numpy as np

In [2]:
usgs = pd.read_csv("uswtdb_v3_1_20200717.csv")
usgs.dropna(axis=0, subset=["p_year"], inplace=True)
# usgs = usgs.query("p_year >= 2000")

In [3]:
averages = usgs.groupby("p_year").mean()[["t_rd", "t_cap"]]
averages

              t_rd        t_cap
p_year
1981.0         NaN          NaN
1982.0   22.160000   221.983871
1983.0   15.300000    65.000000
1984.0   16.344156    64.967742
1985.0   16.195468    88.727960
1986.0   20.368421   117.920530
1987.0         NaN   101.971014
1988.0   23.000000   127.833935
1989.0         NaN          NaN
1990.0   27.000000   225.382263
1991.0   27.000000   225.000000
1992.0   36.000000   375.000000
1994.0   40.200000   490.000000
1995.0   26.732558   221.279070
1996.0   44.000000   600.000000
1997.0   36.337143   488.780488
1998.0   47.559140   723.924731
1999.0   48.379455   721.788703
2000.0   47.780488   745.792683
2001.0   54.636786   891.080533
2002.0   52.463100   878.208696
2003.0   70.869217  1395.963542
2004.0   68.455828  1209.663609
2005.0   77.306078  1490.288040
2006.0   81.490909  1619.190445
2007.0   80.855545  1645.456250
2008.0   82.559869  1678.361078
2009.0   82.045344  1744.215696
2010.0   83.723056  1757.489865
2011.0   88.888730  1970.289730
2012.0   93.491714  1941.470370
2013.0   96.783761  1861.410256
2014.0   99.448759  1940.747798
2015.0  102.422752  2006.962859
2016.0  108.236291  2155.297219
2017.0  112.989599  2321.768798
2018.0  115.958018  2443.164911
2019.0  121.215785  2551.349006
2020.0  126.838428  2839.528711

Manually fill missing values

In [4]:
averages.loc[1987, "t_rd"] = 23.0
averages.loc[1981, "t_rd"] = 22.16
averages.loc[1989, "t_rd"] = 27.0
averages.loc[1981, "t_cap"] = 221.98
averages.loc[1989, "t_cap"] = 225.38

In [5]:
def t_cap_map(row):
    t_cap = row["t_cap"]
    p_year = row["p_year"]
    if pd.isnull(t_cap):
        average = averages.loc[p_year, "t_cap"]
        return average
    else:
        return t_cap
    
def t_rd_map(row):
    t_rd = row["t_rd"]
    p_year = row["p_year"]
    if pd.isnull(t_rd):
        average = averages.loc[p_year, "t_rd"]
        return average
    else:
        return t_rd

t_cap_filled = usgs[["t_cap", "p_year"]].apply(t_cap_map, axis=1)
t_rd_filled = usgs[["t_rd", "p_year"]].apply(t_rd_map, axis=1)

In [6]:
usgs["t_cap_filled"] = t_cap_filled
usgs["t_rd_filled"] = t_rd_filled

In [7]:
usgs.head()

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,...,t_rsa,t_ttlh,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat,t_cap_filled,t_rd_filled
0,3072677,NaN,NaN,5042.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,2,3,5/8/2018,Digital Globe,-118.365746,35.077869,95.0,23.0
1,3073412,NaN,NaN,5756.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,2,3,5/8/2018,Digital Globe,-118.355255,35.084801,95.0,23.0
2,3073335,NaN,NaN,4946.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,2,3,5/8/2018,Digital Globe,-118.357544,35.088322,95.0,23.0
3,3072695,NaN,NaN,5143.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,2,3,5/8/2018,Digital Globe,-118.364410,35.077435,95.0,23.0
4,3073327,NaN,NaN,4966.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,2,3,5/8/2018,Digital Globe,-118.357872,35.084499,95.0,23.0

Check to see if there any null values in the newly filled columns

In [8]:
usgs[usgs["t_rd_filled"].isnull()]

Empty DataFrame
Columns: [case_id, faa_ors, faa_asn, usgs_pr_id, eia_id, t_state, t_county, t_fips, p_name, p_year, p_tnum, p_cap, t_manu, t_model, t_cap, t_hh, t_rd, t_rsa, t_ttlh, t_conf_atr, t_conf_loc, t_img_date, t_img_srce, xlong, ylat, t_cap_filled, t_rd_filled]
Index: []

[0 rows x 27 columns]

In [9]:
usgs[usgs["t_cap_filled"].isnull()]

Empty DataFrame
Columns: [case_id, faa_ors, faa_asn, usgs_pr_id, eia_id, t_state, t_county, t_fips, p_name, p_year, p_tnum, p_cap, t_manu, t_model, t_cap, t_hh, t_rd, t_rsa, t_ttlh, t_conf_atr, t_conf_loc, t_img_date, t_img_srce, xlong, ylat, t_cap_filled, t_rd_filled]
Index: []

[0 rows x 27 columns]

In [10]:
def blade_mass_tonnes_map(row):
    t_cap_mw = row["t_cap_filled"] / 1000  # MW
    if t_cap_mw < 1.0:
        tonnes = t_cap_mw * 8.43
    elif t_cap_mw >= 1.0 and t_cap_mw < 1.5:
        tonnes = t_cap_mw * 12.37
    elif t_cap_mw >= 1.5 and t_cap_mw < 2.0:
        tonnes = t_cap_mw * 13.34
    elif t_cap_mw >= 2000 and t_cap_mw < 5000:
        tonnes = t_cap_mw * 13.41
    else:  # > 5.0 MW
        tonnes = t_cap_mw * 12.58
    return tonnes
        
blade_mass_tonnes = usgs.apply(blade_mass_tonnes_map, axis=1)
usgs["blade_mass_tonnes"] = blade_mass_tonnes

In [11]:
usgs.loc[:100, :]

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,...,t_ttlh,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat,t_cap_filled,t_rd_filled,blade_mass_tonnes
0,3072677,NaN,NaN,5042.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,2,3,5/8/2018,Digital Globe,-118.365746,35.077869,95.0,23.0,0.80085
1,3073412,NaN,NaN,5756.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,2,3,5/8/2018,Digital Globe,-118.355255,35.084801,95.0,23.0,0.80085
2,3073335,NaN,NaN,4946.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,2,3,5/8/2018,Digital Globe,-118.357544,35.088322,95.0,23.0,0.80085
3,3072695,NaN,NaN,5143.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,2,3,5/8/2018,Digital Globe,-118.364410,35.077435,95.0,23.0,0.80085
4,3073327,NaN,NaN,4966.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,2,3,5/8/2018,Digital Globe,-118.357872,35.084499,95.0,23.0,0.80085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,3073416,NaN,NaN,5769.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,2,3,5/8/2018,Digital Globe,-118.354095,35.085648,95.0,23.0,0.80085
97,3073445,NaN,NaN,4958.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,2,3,5/8/2018,Digital Globe,-118.360405,35.084354,95.0,23.0,0.80085
98,3071524,NaN,NaN,5000.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,2,3,5/8/2018,Digital Globe,-118.361534,35.081276,95.0,23.0,0.80085
99,3073362,NaN,NaN,5747.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,2,3,5/8/2018,Digital Globe,-118.354210,35.083458,95.0,23.0,0.80085
100,3010101,NaN,NaN,5828.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,2,3,5/8/2018,Digital Globe,-118.351288,35.090096,95.0,23.0,0.80085

In [12]:
usgs.to_csv("usgs_cleaned_with_masses.csv", index=False)